@media only screen and (max-width: 768px) {
  /* 태블릿과 모바일 화면에 대한 스타일 */
}
@media only screen and (max-width: 480px) {
  /* 모바일 화면에 대한 스타일 */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e9ffe9;
  border-radius: 20px;
}

.icon-menu {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

/* 반응형 미디어 쿼리 */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .search-bar {
    width: 100%;
    margin-bottom: 20px;
  }
  .icon-menu {
    flex-direction: column;
  }
}
